Source: ros-hydro-cob-undercarriage-ctrl
Section: misc
Priority: extra
Maintainer: Christian Connette <cpc@ipa.fhg.de>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-cob-relayboard, ros-hydro-cob-utilities, ros-hydro-control-msgs, ros-hydro-diagnostic-msgs, ros-hydro-diagnostic-updater, ros-hydro-geometry-msgs, ros-hydro-nav-msgs, ros-hydro-roscpp, ros-hydro-sensor-msgs, ros-hydro-tf
Homepage: http://ros.org/wiki/cob_undercarriage_ctrl
Standards-Version: 3.9.2

Package: ros-hydro-cob-undercarriage-ctrl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-cob-relayboard, ros-hydro-cob-utilities, ros-hydro-diagnostic-msgs, ros-hydro-diagnostic-updater, ros-hydro-geometry-msgs, ros-hydro-nav-msgs, ros-hydro-roscpp, ros-hydro-sensor-msgs, ros-hydro-tf
Description: cob_undercarriage_ctrl implements a controller for the omnidirectional base of Care-O-bot 3 on joint level. For a given Pltf-Twist the according wheel steering angles and linear wheel velocities are calculated based on the principle of rigid body motion. Each joint is than controlled individually to achieve the computed position and velocity
